.additional-goods {
  margin-bottom: 35px;
}

.additional-goods__title {
  margin-bottom: 49px;
  font-family: $oswald;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: $accent-color;
  text-align: left;
}

.additional-goods__list {
  margin-bottom: 35px;
}
