.additional__legend {
  width: 164px;
  margin-bottom: 34px;

  @media (min-width:$tablet-width) {
    width: 252px;
    margin-bottom: 57px;
  }
}

.additional__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 12px;

  @media (min-width:$tablet-width) {
    row-gap: 32px;
  }

  @media (min-width:$desktop-width) {
  }
}

.additional__item {
  padding: 6px 0;
  flex-basis: 100%;

  @media (min-width:$tablet-width) {
    flex-basis: 50%;
  }

  @media (min-width:$desktop-width) {
    flex-basis: auto;
    margin-right: 95px;
  }
}

.additional__control {
  position: relative;
  padding-left: 46px;

  &::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    border: 1px solid #cdcdcd;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  @media (min-width:$tablet-width) {
    padding-left: 60px;

    &::before {
      width: 40px;
      height: 40px;
    }
  }
}

.additional__label {
  font-family: $oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $accent-color;
  text-transform: uppercase;

  @media (min-width:$tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
