.client-form {
  padding-bottom: 32px;
}

.client-form__button {
  margin-bottom: 21px;
}

.client-form__note {
  display: block;
  font-family: $lato;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $accent-color;
  text-align: center;
}
