.header__wrapper {
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;

    &::before {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;

    &::before {
      display: none;
    }
  }

  &::before {
    position: absolute;
    content: "";
    height: 1px;
    background-color: #e6e6e6;
    width: 100vw;
    top: 20px;
    margin-left: -20px;
  }
}

.header__type {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
