.main-catalog {
}

.main-catalog__wrapper {
  padding-top: 27px;
  padding-bottom: 49px;
  background-color: $background-basic;

  @media (min-width:$tablet-width) {
    padding-top: 65px;
    padding-bottom: 82px;
  }
}

.main-catalog__title {
  font-family: $oswald;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: $accent-color;

  @media (min-width:$tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}
