.offer {
  font-family: "Oswald";
  font-weight: 400;
  color: #fff;
  text-align: center;
  padding-bottom: 20px;

  @media (min-width:$tablet-width) {
    color: $accent-color;
  }
  @media (min-width:$desktop-width) {
    &::after {
      position: absolute;
      z-index: -1;
      content: "";
      width: 50%;
      height: calc(100% + 141px);
      top: 0;
      left: 50%;
      background-color: $background-second;
    }
  }
}

.offer__wrapper {

  @media (max-width:$mobile-width) {
  padding-top: 27px;
  background-image: linear-gradient($background-second 66%, $background-basic 33%);
  }

  @media (min-width:$tablet-width) {
    display: grid;
    padding-top: 64px;
    grid-template-columns: 88px 244px 172px 1fr;
  }

  @media (min-width:$tablet-width) {
    padding-top: 29px;
    grid-template-columns: 80px 244px 172px 1fr 0.5fr;
  }
}

.offer__title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 36px;

  @media (min-width:$tablet-width) {
    margin-bottom: 41px;
    grid-area: 1/2/2/4;
    text-align: left;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width:$desktop-width) {
    margin-top: auto;
  }
}

.offer__slogan {
  margin: 0;
  margin-bottom: 29px;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;

  @media (min-width:$tablet-width) {
    grid-area: 2/2/3/4;
    text-align: left;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 20px;
  }
}

.offer__image {
  color: $accent-color;

  @media (min-width:$tablet-width) {
    grid-area: 3/1/5/-1;
  }

  @media (min-width:$desktop-width) {
    grid-area: 1/4/-1/5;
  }
}

.offer__link {
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
  padding: 8px 0 8px;

  @media (min-width:$tablet-width) {
    grid-area: 3/2/4/3;
    padding: 14px 0 14px;
    margin-top: 29px;
  }
}
