page-body {
  font-family: "Oswald";
  font-weight: 500;
  color: #333;
  padding-left: 200px;
  background-color: #000;
  header {
    font-family: "Lato";
    font-weight: 400;
    color: #526390;
  }
}
