.program-select__title {
  margin-bottom: 37px;
  font-family: $oswald;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: $accent-color;
}

.program-select__description {
  margin-bottom: 39px;
  font-family: $oswald;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $accent-color;
}
