.promotion {
  background-color: $background-second;
padding: 187px 61px 43px 58px;
}

.promotion__text {
  font-family: $lato;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $background-basic;
  text-align: center;
}
