.purpose__list {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 13px;
  padding: 22px 0 19px;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    height: 1px;
    width: 100vw;
    margin: 0 -20px;
    background-color: #e7e7e7;
  }

  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    height: 1px;
    width: 100vw;
    margin: 0 -20px;
    background-color: #e7e7e7;
  }

  @media (min-width:$tablet-width) {
    border: 1px solid #e7e7e7;
    padding: 25px 0 25px 28px;

    &::before,
    &::after {
      display: none;
    }
  }
}

.purpose__item {
    padding: 5px 0 6px;
}

.purpose__control {
  position: relative;
  padding-left: 45px;

  &::before {
    position: absolute;
    content: "";
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
  }

  @media (min-width:$tablet-width) {
    padding-left: 60px;

    &::before {
      width: 40px;
      height: 40px;
    }
  }
}

.purpose__label {
  position: relative;
  font-family: $oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $radio-label-color;
  text-transform: uppercase;

  @media (min-width:$tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
