.purpose {
  padding-top: 22px;
  padding-bottom: 19px;
}
.purpose__input {
  margin-right: 15px;
}

.purpose__label {
  font-family: $oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $radio-label-color;
}
